@use "tablet_responsive" as tablet;
@use "phone_responsive" as mobile;

html {
  font-size: 62.5%;
  
  @media (max-width: 991px) {
    font-size: 50%; // タブレットサイズ
  }

  @media (max-width: 767px) {
    font-size: 40%; // モバイルサイズ
  }

  @media (max-width: 520px) {
    font-size: 31.25%; // モバイルサイズ
  }
}
body{
  font-family: 'Tsukushi B Round Gothic';
}
main{
  overflow: hidden;
}
img {
  width: 100%;
  height: auto;
}
ul {
  list-style: none ;
}
a {
  transition: all 0.3s ease;
}
a:hover{
  opacity: 0.6;
}
input{
  border: 1px solid #AFAFAF;
  border-radius: 0.3rem !important;
}

table {
  width: 100%;
  border-collapse: collapse;
  thead{
    background: var(--unnamed, linear-gradient(90deg, #EACDA3 0%, #d6ae7b 100%));
    color: white;
    padding: 1rem 4rem;
    display: table-caption;
    tr{
      font-size: 1.8rem;
    }
  }
  tbody{
    display: flex;
    flex-direction: column;
    tr{
      padding: 1rem 0;
      display: table-cell;
      font-size: 1.6rem;
      border-bottom: 1px dotted #CDCDCD;
      td:nth-child(1){
        padding-right: 7rem;
      }
      td:nth-child(4){
        padding-right: 2rem;
      }
    }
  }
}
th, td {
  width: 10%;
  text-align: center;
  padding: 8px;
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 128rem;
  box-sizing: content-box;
  padding: 0 4.5rem;
}

$white: white;
$black: #5C5C5C;
$beige: #d6ae7b;
$blue_color: #65adba;
$ruby_color: #da2131;
$sapphire_color: #12b77f;
$box_shadow: 1px 1px 9px 0px rgba(0, 0, 0, 0.25);
$base_background: var(--unnamed, linear-gradient(90deg, #EACDA3 0%, $beige 100%));
$blue_background: var(--unnamed, linear-gradient(90deg, #4CA1AF 0%, #C4E0E5 100%));
$ruby_background: var(--unnamed, linear-gradient(90deg, #D41429 0%, #F34952 37.50%, #F5686C 52.60%, #F34952 67.19%, #D41429 100%));
$sapphire_background: var(--unnamed, linear-gradient(90deg, #00B379 0%, #47D3A6 37.50%, #78F5CD 52.60%, #47D3A6 67.19%, #00B379 100%));
$border_radius: 0.5rem;

// 共通部品
.beige{
  color: $beige;
}
.black{
  color: $black;
}
.common_size16{
  font-size: 1.6rem;
}
.common_size20{
  font-size: 2rem;
  font-weight: bold;
}
.common_size13{
  font-size: 1.3rem;
}
.common_size18{
  font-size: 1.8rem;
}
.common_a{
  color: #0085FF;
}
.common_btn_shape{
  border-radius: $border_radius;
  box-shadow: 1px 2px 7px 0px rgba(0, 0, 0, 0.25);
}
.common_btn_beige{
  border-radius: $border_radius;
  box-shadow: $base_background;
  color: $white;
}
.common_btn_beige_background{
  background: $base_background;
  color: white;
}
.common_btn_content{
  display: block;
  width: 18.5rem;
  height: 4rem;
  border-radius: $border_radius;
  font-size: 1.7rem;
  font-weight: bold;
  text-align: center;
  line-height: 3.8rem;
}
.common_field_title{
  margin-bottom: 2rem;
  h1{
    font-size: 2rem;
    text-align: center;
    color: #5C5C5C;
    margin-bottom: 1.3rem;
  }
}
.common_box_beige{
  border: 1px solid $beige;
  color: $beige;
}
.underline::before ,.underline::after{
  content: '';
  display: block;
  height: 1px;
  background: linear-gradient(90deg, #EACDA3 0%, $beige 100%);
  width: 100%;
}
.underline::after {
  margin-top: 3px;
}
.top_background{
  height: 21rem;
  width: 100%;
  position: absolute;
  background: var(--unnamed, linear-gradient(90deg, #EACDA3 0%, #D6AE7B 100%));
  right: 0;
  left: 0;
  z-index: -1;
}
.top_title{
  color: white;
  font-weight: bold;
  font-size: 3.5rem;
  text-align: center;
  margin-top: 5rem;
}
.common_merge{
  margin: 5rem 0;
}
.common_list_title_background{
  height: auto;
  margin: 0 auto 2rem auto;
  border: 1px solid #dcb887;
  .common_list_title{
    padding: 1.5rem;
    color: white;
    background: var(--unnamed, linear-gradient(90deg, #EACDA3 0%, #D6AE7B 100%));
  }
}
.common_list_part{
  padding: 1rem 1.5rem;
  display: flex;
  border-bottom: 1px dotted #CDCDCD;
  p:nth-child(1){
    width: 30%;
    font-weight: bold;
    color: $black;
  }
}
.detail_btn{
  margin-left: auto;
  a{
    border-radius: 0.3rem;
    padding: 0.5rem 2rem;
  }
}
// 共通部品

main{
  min-height: 100vh;
}
// ヘッダー
.header{
  width: 92%;
  margin: 2.5rem auto 0 auto;
  height: 8rem;
  border-radius: 4rem;
  padding: 1.1rem 1.7rem;
  border: 1px solid $white;
  display: flex;
  box-shadow: $box_shadow;
  .header_left{
    width: 11%;
    margin-left: 1rem;
    img{
      height: 100%;
      object-fit: contain;
    }
  }
  .header_right{
    display: flex;
    align-items: center;
    margin-left: auto;
    ul{
      display: flex;
      color: #666666;
      li{
        font-size: 1.6rem;
        margin-right: 2.5rem;
      }
    }
  }
}

// profile
.profile{
  border-radius: 10px;
  background: var(--unnamed, linear-gradient(90deg, #8E9EAB 0%, #EEF2F3 100%));
  box-shadow: $box_shadow;
  width: 51.2rem;
  height: 14.4rem;
  position: relative;
  margin-top: 9rem;
  .profile_self_image{
    width: 12.7rem;
    height: 12.5rem;
    position: absolute;
    top: -6.5rem;
    left: 19.2rem;
    img{
      height: 100%;
      object-fit: cover;
      border-radius: 2.8rem;
    }
  }
  .profile_info{
    display: flex;
    padding: 7.5rem 4.5rem 0 4.5rem;
    justify-content: space-evenly;
    .profile_info_details{
      display: flex;
      flex-direction: column;
      margin-right: 2.5rem;
      color: $white;
      p:nth-child(1){
        margin-bottom: 1rem;
      }
      .profile_grade{
        display: flex;
        border-radius: $border_radius;
        background: var(--unnamed, linear-gradient(90deg, #00B379 0%, #47D3A6 37.50%, #78F5CD 52.60%, #47D3A6 67.19%, #00B379 100%));
        color: $white;
        padding: 0.5rem;
        margin-bottom: 0.4rem;
        .fa-solid{
          font-size: 2rem;
        }
        .emerald{
          font-size: 1.3rem;
          margin-left: 1rem;
          line-height: 2rem;
        }
      }
    }
    .sales_batch{
      position: relative;
      right: 4rem;
    }
  }
}

// uranai
.uranai_link{
  display: block;
    width: 37.5rem;
    .uranai{
      height: 6.2rem;
      border-radius: 10px;
      background: var(--unnamed, linear-gradient(90deg, #DBAB00 0%, #F2D15E 32.29%, #FFE794 50%, #F2D15E 69.79%, #DBAB00 100%, #DBAB00 100%));
      box-shadow: 1px 2px 7px 0px rgba(0, 0, 0, 0.25);
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 3rem;
      .uranai_icon{
        width: 3rem;
        height: 3rem;
        margin-right: 1.4rem;
      }
      p{
        color: $white;
      }
    }
}

// menu_list
.menu_list{
  display: flex;
  flex-wrap: wrap;
  margin-top: 3rem;
  .menu_part{
    width: 20.5rem;
    height: 9.6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 2rem 2rem 0;
    background: $base_background;
    .menu_icon{
      width: 4rem;
      height: 4rem;
    }
    p{
      font-weight: bold;
      color: white;
      margin-top: 0.5rem;
    }
  }
}

// footer
.footer{
  height: 4.6rem;
  background: $base_background;
  color: $white;
  p{
    text-align: center;
    line-height: 4.6rem;
    font-size: 1.3rem;
  }
}

// セミナー予約画面
.pankuzu{
  margin: 1.6rem 0;
  color: $black;
}

.reservation_switch_btn{
  display: flex;
  width: 40rem;
  margin: 0 auto 1rem auto;
  justify-content: space-between;
  a:nth-child(1){
    color: #EACDA3;
    background: linear-gradient(90deg, rgba(234, 205, 163, 0.16) 0%, rgba(214, 174, 123, 0.16) 100%);
  }
}

.search select{
  padding: 0.5rem 1rem;
  border: 1px solid #AFAFAF;
  font-size: 1.3rem;
  margin-right: 1rem;
  border-radius: 0.3rem;
}

.search .search_btn{
  width: 6.1rem;
  height: 3rem;
  border-radius: 2px;
  text-align: center;
  font-size: 1.3rem;
}

.reservation_list{
  margin: 1.5rem 0 10rem 0;
  .reservation_part{
    display: flex;
    border-bottom: 1px solid $beige;
    width: 40%;
    padding: 1.5rem;
    .reservation_left{
      color: $black;
      margin-right: 2rem;
    }
    .reservation_right{
      width: 40rem;
      height: 8.5rem;
      display: flex;
      flex-direction: column;
      .reservation_info_top{
        display: flex;
        padding: 1rem;
        border-bottom: 1px solid $beige;
        .reservation_info_top_left p:nth-child(1){
          font-size: 1.6rem;
          font-weight: bold;
          margin-bottom: 0.4rem;
        }
        .reservation_info_top_right{
          margin-left: auto;
          .reservation_btn{
            width: 9.2rem;
            height: 2.7rem;
            display: flex;
            justify-content: center;
            align-items: center;
            .reservation_calender{
              width: 2rem;
              height: 2rem;
              margin-right: 0.3rem;
            }
          }
        }
      }
      .reservation_info_bottom{
        display: flex;
        height: 100%;
        .reservation_info_bottom_left{
          width: 30%;
          background: $base_background;
          color: white;
          p{
            font-size: 1.6rem;
            text-align: center;
            line-height: 2.5rem;
          }
        }
        .reservation_info_bottom_right{
          width: 70%;
          font-size: 1.4rem;
          line-height: 2.7rem;
          padding-left: 2rem;
        }
      }
    }
  }
}

// reservation_confirm
.confirm_text{
  text-align: center;
  margin: 4rem 0 2rem 0;
  color: $black;
}
.reservation_confirm_container{
  width: 50.4rem;
  .confirm_info{
    color: $black;
  }
}
.reservation_confirm_switch_btn{
  display: flex;
  width: 40rem;
  margin: 0 auto 1rem auto;
  justify-content: space-between;
  a{
    background: $base_background;
    color: white;
  }
}

// reservation_status
.reservation_status_list{
  margin: 3rem 0 10rem 0;
  .reservation_status_part{
    margin-bottom: 1.8rem;
    width: 49.5rem;
    border: 1px solid #DCDCDC;
    padding: 1rem;
    color: $black;
    .reservation_status_top{
      display: flex;
      margin-bottom: 2rem;
      p:nth-child(1){
        border-radius: 0.5rem;
        padding: 0.4rem 2.3rem;
        margin-right: 1rem;
      }
      p:nth-child(2){
        font-size: 1.7rem;
        font-weight: bold;
        line-height: 2.8rem;
      }
    }
    .reservation_status_bottom{
      display: flex;
      .cancel_btn{
        width: 10rem;
        border-radius: 0.2rem;
        border: 1px solid #525252;
        text-align: center;
        line-height: 3.3rem;
        margin-left: auto;
      }
    }
  }
}

// event
.event_list{
  height: 55rem;
  margin-top: 4rem;
  background: white;
  padding: 2.3rem 3.5rem;
  .event_part{
    border-bottom: 1px solid #d5d5d5;
    margin-bottom: 2rem;
    .envent_part_top{
      display: flex;
      margin-bottom: 1rem;
      p:nth-child(1){
        color: #838383;
        line-height: 2.6rem;
      }
      p:nth-child(2){
        padding: 0.3rem 3rem;
        margin-left: 2rem;
        border-radius: 0.3rem;
      }
    }
    .event_part_bottom{
      padding-bottom: 2rem;
      a{
        display: block;
        width: max-content;
        border-bottom: 1px solid black;
      }
    }
  }
}

// event_detail
.event_top_info h3{
  font-size: 2.7rem;
  color: #d6ae7b;
  margin: 2rem 0 0.5rem 0;
}
.event_top_info p{
  color: #5C5C5C;
  margin-bottom: 1.5rem;
}
.event_bottom_body{
  width: 65%;
  p{
    color: #5C5C5C;
    margin: 2rem 0 0 0;
  }
}
.event_btns{
  display: flex;
  width: 45%;
  justify-content: space-between;
  margin-left: auto;
  a:nth-child(2){
    border-radius: 10rem 0.5rem 0.5rem 10rem;
  }
  a:nth-child(3){
    border-radius: 0.5rem 10rem 10rem 0.5rem;
  }
}

// connect_service
.service_detail_title{
  font-size: 25px;
  color: $beige;
  text-align: center;
}
.service_catch_copy{
  font-size: 25px;
  color: $black;
  font-weight: bold;
  text-align: center;
  margin: 2rem 0;
}
.service_detail_bottom{
  font-size: 1.7rem;
  width: 63rem;
  margin: 2rem auto;
  line-height: 177.5%;
}
.guide_text{
  font-size: 1.5rem;
  text-align: center;
  color: $beige;
  margin: 2rem 0;
}
.guide_arrow{
  margin: 0 auto;
  width: 5rem;
}
.contact_btn a{
  margin: 5rem auto;
}

// bonus
.bonus_container{
  background: $white;
  padding: 2rem;
  margin-top: 4rem;
  .bonus_list{
    margin-top: 2.5rem;
    .bonus_part{
      width: 49%;
      border: 1px solid #d6ae7b;
      display: flex;
      margin-bottom: 0.7rem;
      .bonus_title{
        position: relative;
        display: flex;
        background: var(--unnamed, linear-gradient(90deg, #EACDA3 0%, #D6AE7B 100%));
        color: white;
        width: 37.8%;
        padding: 1rem;
        .triangle{
          width: 2.8rem;
          height: 2.7rem;
          position: absolute;
          right: -2rem;
          top: 21%;
          img{
            height: 100%;
          }
        }
      }
      .bonus_data{
        width: 62.2%;
        padding: 1rem;
        text-align: right;
      }
    }
  }
}

// title
.my_title{
  display: flex;
  .my_title_left{
    margin-right: 7rem;
    .my_title_batch{
      border-radius: 0.5rem;
      background: $blue_background;
      display: flex;
      width: 31rem;
      padding: 1.7rem;
      color: white;
      justify-content: center;
      margin: 2rem 0;
      .title_card{
        width: 3.5rem;
        margin-right: 2rem;
      }
    }
  }
  .my_title_right{
    border: 1px solid $ruby_color;
    padding: 2.5rem 4rem;
    border-radius: 0.5rem;
    text-align: center;
    line-height: 2.7rem;
    .next_title{
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 2rem 0;
      span{
        background: $ruby_background;
        color: white;
        padding: 1rem 2rem;
        display: block;
        margin-right: 0.5rem;
      }
    }
    .to_next_title{
      text-align: left;
      line-height: 3rem;
    }
  }
}
.my_number_step{
  margin-top: 1rem;
  p{
    margin-bottom: 0.6rem;
  }
}
.title_conditions_list{
  margin-top: 2rem;
  display: flex;
  .conditions_part{
    margin-right: 3rem;
    .conditons_title{
      color: white;
      padding: 1rem 5.5rem;
    }
    .conditons_body{
      text-align: center;
      padding: 1rem 5rem;
    }
  }
  .conditions_part:nth-child(1){
    border: 1px solid $blue_color;
    .conditons_title{
      background: $blue_background;
    }
  }
  .conditions_part:nth-child(2){
    border: 1px solid $ruby_color;
    .conditons_title{
      background: $ruby_background;
    }
  }
  .conditions_part:nth-child(3){
    border: 1px solid $sapphire_color;
    .conditons_title{
      background: $sapphire_background;
    }
  }
}


// learn
.learn_detail_list{
  display: flex;
  flex-wrap: wrap;
  .learn_part{
    width: 20%;
    height: auto;
    text-align: center;
    margin: 0 3rem 5rem 0;
    .learn_box{
      background-image: url("../image/learn_background.png");
      background-size: cover;
      height: 24rem;
      padding: 8.7rem 0;
      margin-top: 1rem;
      .learn_document_video{
        display: flex;
        flex-direction: column;
        a{
          display: block;
          width: 40%;
          background: $white;
          padding: 0.6rem 0;
          border-radius: 0.2rem;
          margin: 0 auto;
        }
        a:nth-child(2){
          margin: 1rem auto 0 auto;
        }
      }
    }
  }
}
.pagenation{
  text-align: center;
  margin-bottom: 4rem;
  a{
    padding: 0.2rem 0.4rem;
    margin-left: 0.5rem;
  }
}
.other_category{
  margin-bottom: 10rem;
  .category_list{
    color: $black;
    font-weight: bold;
    margin-top: 2rem;
    .category_part{
      padding: 0.5rem 3rem;
      margin-right: 1.5rem;
      border: 1px solid $black;
    }
  }
}


// introducer
.introducer_container {
  background: white;
  padding: 2rem;
  margin-top: 4rem;
  .introducer_list_container{
    margin-top: 3rem;
  }
}
.introducer_list{
  padding: 1rem 2rem;
  .introducer_part{
    color: #515151;
    margin-bottom: 1rem;
    label{
      vertical-align: middle;
      margin-right: 1rem;
      font-weight: bold;
      width: 13rem;
      display: inline-block;
    }
  }
  .search_form_btn{
    display: flex;
    justify-content: center;
    border: 1px solid $beige;
    padding: 0.4rem 0;
    width: 43%;
    color: $beige;
    font-weight: bold;
    border-radius: 0.3rem;
    .search_icon{
      width: 2.3rem;
      margin-right: 0.5rem;
    }
    p{
      line-height: 2.4rem;
    }
  }
}
