html {
  font-size: 62.5%;
}
@media (max-width: 991px) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 767px) {
  html {
    font-size: 40%;
  }
}
@media (max-width: 520px) {
  html {
    font-size: 31.25%;
  }
}

body {
  font-family: "Tsukushi B Round Gothic";
}

main {
  overflow: hidden;
}

img {
  width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

a {
  transition: all 0.3s ease;
}

a:hover {
  opacity: 0.6;
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 128rem;
  box-sizing: content-box;
  padding: 0 4.5rem;
}

.common_size16 {
  font-size: 1.6rem;
}

.common_size20 {
  font-size: 2rem;
  font-weight: bold;
}

.common_size13 {
  font-size: 1.3rem;
}

.common_a {
  color: #0085FF;
}

.common_btn_shape {
  border-radius: 0.5rem;
  box-shadow: 1px 2px 7px 0px rgba(0, 0, 0, 0.25);
}

.common_btn_beige {
  border-radius: 0.5rem;
  box-shadow: var(--unnamed, linear-gradient(90deg, #EACDA3 0%, #d6ae7b 100%));
  color: white;
}

.common_btn_content {
  display: block;
  width: 18.5rem;
  height: 4rem;
  border-radius: 0.5rem;
  font-size: 1.7rem;
  font-weight: bold;
  text-align: center;
  line-height: 3.8rem;
}

.common_field_title {
  margin-bottom: 2rem;
}
.common_field_title h1 {
  font-size: 2rem;
  text-align: center;
  color: #5C5C5C;
  margin-bottom: 1.3rem;
}

.underline::before, .underline::after {
  content: "";
  display: block;
  height: 1px;
  background: linear-gradient(90deg, #EACDA3 0%, #d6ae7b 100%);
  width: 100%;
}

.underline::after {
  margin-top: 3px;
}

main {
  min-height: 100vh;
}

.header {
  width: 92%;
  margin: 2.5rem auto 0 auto;
  height: 8rem;
  border-radius: 4rem;
  padding: 1.1rem 1.7rem;
  border: 1px solid white;
  display: flex;
  box-shadow: 1px 1px 9px 0px rgba(0, 0, 0, 0.25);
}
.header .header_left {
  width: 11%;
  margin-left: 1rem;
}
.header .header_left img {
  height: 100%;
  object-fit: contain;
}
.header .header_right {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.header .header_right ul {
  display: flex;
  color: #666666;
}
.header .header_right ul li {
  font-size: 1.6rem;
  margin-right: 2.5rem;
}

.profile {
  border-radius: 10px;
  background: var(--unnamed, linear-gradient(90deg, #8E9EAB 0%, #EEF2F3 100%));
  box-shadow: 1px 1px 9px 0px rgba(0, 0, 0, 0.25);
  width: 51.2rem;
  height: 14.4rem;
  position: relative;
  margin-top: 9rem;
}
.profile .profile_self_image {
  width: 12.7rem;
  height: 12.5rem;
  position: absolute;
  top: -6.5rem;
  left: 19.2rem;
}
.profile .profile_self_image img {
  height: 100%;
  object-fit: cover;
  border-radius: 2.8rem;
}
.profile .profile_info {
  display: flex;
  padding: 7.5rem 4.5rem 0 4.5rem;
  justify-content: space-evenly;
}
.profile .profile_info .profile_info_details {
  display: flex;
  flex-direction: column;
  margin-right: 2.5rem;
  color: white;
}
.profile .profile_info .profile_info_details p:nth-child(1) {
  margin-bottom: 1rem;
}
.profile .profile_info .profile_info_details .profile_grade {
  display: flex;
  border-radius: 0.5rem;
  background: var(--unnamed, linear-gradient(90deg, #00B379 0%, #47D3A6 37.5%, #78F5CD 52.6%, #47D3A6 67.19%, #00B379 100%));
  color: white;
  padding: 0.5rem;
  margin-bottom: 0.4rem;
}
.profile .profile_info .profile_info_details .profile_grade .fa-solid {
  font-size: 2rem;
}
.profile .profile_info .profile_info_details .profile_grade .emerald {
  font-size: 1.3rem;
  margin-left: 1rem;
  line-height: 2rem;
}
.profile .profile_info .sales_batch {
  position: relative;
  right: 4rem;
}

.uranai_link {
  display: block;
  width: 37.5rem;
}
.uranai_link .uranai {
  height: 6.2rem;
  border-radius: 10px;
  background: var(--unnamed, linear-gradient(90deg, #DBAB00 0%, #F2D15E 32.29%, #FFE794 50%, #F2D15E 69.79%, #DBAB00 100%, #DBAB00 100%));
  box-shadow: 1px 2px 7px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}
.uranai_link .uranai .uranai_icon {
  width: 3rem;
  height: 3rem;
  margin-right: 1.4rem;
}
.uranai_link .uranai p {
  color: white;
}

.menu_list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3rem;
}
.menu_list .menu_part {
  width: 20.5rem;
  height: 9.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 2rem 2rem 0;
  background: var(--unnamed, linear-gradient(90deg, #EACDA3 0%, #d6ae7b 100%));
}
.menu_list .menu_part .menu_icon {
  width: 4rem;
  height: 4rem;
}
.menu_list .menu_part p {
  font-weight: bold;
  color: white;
  margin-top: 0.5rem;
}

.footer {
  height: 4.6rem;
  background: var(--unnamed, linear-gradient(90deg, #EACDA3 0%, #d6ae7b 100%));
  color: white;
}
.footer p {
  text-align: center;
  line-height: 4.6rem;
  font-size: 1.3rem;
}

.pankuzu {
  margin: 1.6rem 0;
  color: #5C5C5C;
}

.reservation_switch_btn {
  display: flex;
  width: 40rem;
  margin: 0 auto 1rem auto;
  justify-content: space-between;
}
.reservation_switch_btn a:nth-child(1) {
  color: #EACDA3;
  background: linear-gradient(90deg, rgba(234, 205, 163, 0.16) 0%, rgba(214, 174, 123, 0.16) 100%);
}
.reservation_switch_btn a:nth-child(2) {
  background: var(--unnamed, linear-gradient(90deg, #EACDA3 0%, #d6ae7b 100%));
  color: white;
}

.search select {
  padding: 0.5rem 1rem;
  border: 1px solid #525252;
  font-size: 1.3rem;
  margin-right: 1rem;
}

.search .search_btn {
  border: 1px solid #d6ae7b;
  width: 6.1rem;
  color: #d6ae7b;
  height: 3rem;
  border-radius: 2px;
  text-align: center;
  font-size: 1.3rem;
}

.reservation_list {
  margin: 1.5rem 0 10rem 0;
}
.reservation_list .reservation_part {
  display: flex;
  border-bottom: 1px solid #d6ae7b;
  width: 40%;
  padding: 1.5rem;
}
.reservation_list .reservation_part .reservation_left {
  color: #5C5C5C;
  margin-right: 2rem;
}
.reservation_list .reservation_part .reservation_right {
  width: 40rem;
  height: 8.5rem;
  display: flex;
  flex-direction: column;
}
.reservation_list .reservation_part .reservation_right .reservation_info_top {
  display: flex;
  padding: 1rem;
  border-bottom: 1px solid #d6ae7b;
}
.reservation_list .reservation_part .reservation_right .reservation_info_top .reservation_info_top_left p:nth-child(1) {
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 0.4rem;
}
.reservation_list .reservation_part .reservation_right .reservation_info_top .reservation_info_top_right {
  margin-left: auto;
}
.reservation_list .reservation_part .reservation_right .reservation_info_top .reservation_info_top_right .reservation_btn {
  width: 9.2rem;
  height: 2.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--unnamed, linear-gradient(90deg, #EACDA3 0%, #d6ae7b 100%));
}
.reservation_list .reservation_part .reservation_right .reservation_info_top .reservation_info_top_right .reservation_btn .reservation_calender {
  width: 2rem;
  height: 2rem;
  margin-right: 0.3rem;
}
.reservation_list .reservation_part .reservation_right .reservation_info_bottom {
  display: flex;
  height: 100%;
}
.reservation_list .reservation_part .reservation_right .reservation_info_bottom .reservation_info_bottom_left {
  width: 30%;
  background: var(--unnamed, linear-gradient(90deg, #EACDA3 0%, #d6ae7b 100%));
  color: white;
}
.reservation_list .reservation_part .reservation_right .reservation_info_bottom .reservation_info_bottom_left p {
  font-size: 1.6rem;
  text-align: center;
  line-height: 2.5rem;
}
.reservation_list .reservation_part .reservation_right .reservation_info_bottom .reservation_info_bottom_right {
  width: 70%;
  font-size: 1.4rem;
  line-height: 2.7rem;
  padding-left: 2rem;
}

.confirm_text {
  text-align: center;
  margin: 4rem 0 2rem 0;
  color: #5C5C5C;
}

.reservation_confirm_container {
  width: 50.4rem;
  height: auto;
  margin: 0 auto 2rem auto;
  border: 1px solid #dcb887;
}
.reservation_confirm_container .confirm_title {
  padding: 1.5rem;
  color: white;
  background: var(--unnamed, linear-gradient(90deg, #EACDA3 0%, #D6AE7B 100%));
}
.reservation_confirm_container .confirm_info {
  color: #5C5C5C;
}
.reservation_confirm_container .confirm_info .confirm_info_part {
  padding: 1rem 1.5rem;
  display: flex;
  border-bottom: 1px dotted #CDCDCD;
}
.reservation_confirm_container .confirm_info .confirm_info_part p:nth-child(1) {
  width: 30%;
  font-weight: bold;
}

.reservation_confirm_switch_btn {
  display: flex;
  width: 40rem;
  margin: 0 auto 1rem auto;
  justify-content: space-between;
}
.reservation_confirm_switch_btn a {
  background: var(--unnamed, linear-gradient(90deg, #EACDA3 0%, #d6ae7b 100%));
  color: white;
}/*# sourceMappingURL=index.css.map */